html{
  scroll-behavior: smooth;
}
header{
    padding-top: 200px;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    color:#007BFF;
    opacity: 0;
    transform: translateY(15px); 
    transition: opacity 1.0s ease-in-out, transform 1.0s ease-in-out; /* Smooth transition */
}
header.visible {
  opacity: 1; /* Make it visible */
  transform: translateY(0);
}
main{
  padding-top: 800px;
  padding-bottom: 450px;
}

#aboutText {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1.0s ease-in-out, transform 1.0s ease-in-out; /* Smooth transition */
}
#aboutText.visible {
    opacity: 1; 
    transform: translateY(0); 
}
footer { 
    opacity: 0;
    transition: opacity 1.0s ease-in-out, transform 1.0s ease-in-out; /* Smooth transition */
}
footer.visible {
  opacity: 1; /* Make it visible */
  transform: translateY(0);
}
nav{
    padding-top: 20px;
    align-items: center; /* Center items horizontally */   
    display: flex;
    justify-content: center;
    margin: 0;
    
 
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
    
}
nav a:hover {
    background-color: #007BFF;
    color: #fff;
  }
nav a:not(:last-child) {
    margin-right: 10px;
  }
  h1{
    color: #007BFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-display: block;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius:50px;
  }
  h2{
    font-size: 16px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-display: block;
  }
  .container {
    display: flex;
    flex-direction: column; /* Default to column for mobile */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start;
 

  }

  .container p1 {
    width: 75%;
  }

  p1{
  margin: 0 auto;
  font-size: 18px;
  padding-top: 10px;
  }
  
  #portfolioPicture{
border-radius: 8px;
width: 300px;
height: 300px;
object-fit: fill;
  }
    img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
 #background {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind other content */
    opacity: 0.5; /* Adjust opacity as needed */
    object-fit: cover; /* Cover the entire viewport */

  }
  #background2 {
    position:absolute;
    top: 1242px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind other content */
    opacity: 0.5; /* Adjust opacity as needed */
    object-fit: cover; /* Cover the entire viewport */

  }
  #background3 {
    position:absolute;
    top: 2235px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind other content */
    opacity: 0.5; /* Adjust opacity as needed */
    object-fit: cover; /* Cover the entire viewport */

  }

#background4{
    position:absolute;
    top: 3228px;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -1; /* Behind other content */
    opacity: 0.5; /* Adjust opacity as needed */
    object-fit: cover; /* Cover the entire viewport */

  }


#decrease-font {
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 20px 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
#increase-font {
    margin-top: 20px;
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 20px 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
    #increase-font:hover {
      background-color: #007BFF;
      color: #fff;
    }
    #decrease-font:hover {
      
      background-color: #007BFF;
      color: #fff;
    }
  #increase-font a:not(:last-child) {
      margin-right: 10px;
      
    }
    #decrease-font a:not(:last-child) {
      margin-right: 10px;
    }
    #mail{
      text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #007BFF;
    }
    .scrollable-container {
      width: 500px;
      height: 300px;
      overflow: auto;
      background-size: cover;
      background-repeat: no-repeat;
    }

     #projects {
      padding-top: 500px;
      text-align: left;
      
    }

    .iframe-container iframe{
      width:50%;
      height:500px;
      border: none;
    }
    .iframe-nav{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
.iframe-nav a{
  text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}
    .iframe-nav a:hover {
      background-color: #007bff;
      color: #fff;
    }

#contact{
  text-align: center
}